.pronamic-pay-formidable-icon {
	background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMjU2IDBjMTQxLjM4NSAwIDI1NiAxMTQuNjE1IDI1NiAyNTZTMzk3LjM4NSA1MTIgMjU2IDUxMmMtNDguODUgMC05NC41MDQtMTMuNjgyLTEzMy4zNC0zNy40MjRMMTc0LjU1OCAzODRoOTIuOTg4YzcwLjY5MyAwIDEyOC01Ny4zMDggMTI4LTEyOCAwLTcwLjY5Mi01Ny4zMDctMTI4LTEyOC0xMjhoLTQ2LjY4MmMtMTUuMjQ4IDAtMjcuNjA4IDEyLjM2LTI3LjYwOCAyNy42MDggMCAxNS4yNDcgMTIuMzYgMjcuNjA4IDI3LjYwOCAyNy42MDhoNDYuNjgyYzQwLjE5OCAwIDcyLjc4NCAzMi41ODYgNzIuNzg0IDcyLjc4NCAwIDQwLjE5OC0zMi41ODYgNzIuNzg0LTcyLjc4NCA3Mi43ODRIMTY3LjE1M2MtMTIuODY5IDAtMjMuNjgxIDguODA1LTI2Ljc0MSAyMC43MmEyOCAyOCAwIDAwLS42MDYgMS45NjZsLTMwLjYyMiAxMTQuMjczQzQzLjE2MSA0MTkuNDQzIDAgMzQyLjc2MiAwIDI1NiAwIDExNC42MTUgMTE0LjYxNSAwIDI1NiAwem0xMS41NDUgMjIwLjg2M2gtNjUuNzU3Yy0xOS40MDYgMC0zNS4xMzcgMTUuNzMxLTM1LjEzNyAzNS4xMzdzMTUuNzMxIDM1LjEzNyAzNS4xMzcgMzUuMTM3aDY1Ljc1N2MxOS40MDYgMCAzNS4xMzctMTUuNzMxIDM1LjEzNy0zNS4xMzdzLTE1LjczMS0zNS4xMzctMzUuMTM3LTM1LjEzN3oiIGZpbGw9IiMxQTFCNDYiLz48L3N2Zz4=');
	display: inline-block;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.frm_pronamic_pay_action {
	span {
		.frm-inner-circle {
			&.frm-inverse {
				background-color: #ffb200;
			}
		}
	}
}

.frm_email_settings {
	.frm_single_pronamic_pay_settings {
		.widget-title {
			.frm_form_action_icon {
				.pronamic-pay-formidable-icon {
					width: 24px;
					height: 24px;
					filter: invert(100%) saturate(0%) contrast(85%);
				}
			}
		}

		&:hover {
			.frm_form_action_icon {
				.pronamic-pay-formidable-icon {
					filter: invert(100%) saturate(0%) contrast(20%);
				}
			}
		}
	}
}

.edit_field_type_pronamic_payment_method_select {
	input {
		&[type='pronamic_payment_method_select'] {
			display: none !important;
		}
	}

	.pronamic-pay-formidable-eip-disable {
		color: #aaa;
		cursor: default;
	}
}
